{% extends 'base.html.twig' %}

{% block body %}
<h1>Testounet</h1>
<div>

    <div>{{ "now"|date('Y') }}</div>
    {# crée une variable #}
    {% set name = "Guillaume" %}
    <h2>{{name|length }}</h2>

    {# crée un tableau #}
    {% set colors = ["orange", "brown", "turquoise", "blue"] %}

    <div>nombre de couleurs : {{ colors|length }}</div>
    <div>{{ colors|join(' / ') }}</div>
    {% for color in colors %}
        <div>{{ loop.index }}</div>
        <div style="background-color: {{ color }}">{{ color }}</div>
    {% endfor %}

    {#  un objet #}
    {% set book = {
        title :'Harry Potter',
        year: 1998,
        author: 'J.K Rowling'}
    %}
    <h3>{{ book.author }}</h3>
    <div>
        {% for key, val in book %}
        <div>{{ key }} : {{ val }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block title %}{{ parent() }} | Testounet{% endblock %}